
<div class="container-fluid">
    <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                   PRODUTOS

                </h2>
                <ul class="header-dropdown m-r--5">
                    <button type="button" class="btn btn-orange  waves-effect  waves-float right" data-toggle="modal" data-target="#defaultModal">
                        <i class="material-icons">add</i>
                    </button>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>NOME</th>
                        <th>DESCRIÇÃO</th>
                        <th>CATEGORIA</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="produto in produtos" ng-click="editProduto(produto)" data-toggle="modal" data-target="#defaultModal">
                        <th scope="row">{{produto.id}}</th>
                        <td>{{produto.name}}</td>
                        <td>{{produto.description}}</td>
                        <td>{{produto.productCategory.name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

    <!--- Modal de Cadastro de Produto -->

    <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="defaultModalLabel">Novo Produto</h4>
                </div>
                <form id="form_validation" ng-submit="saveProduto(produto)">
                    <div class="modal-body">
                        <input type="text" placeholder="Nome do Produto" class="form-control" name="name" ng-model="produto.name" required>
                    </div>

                    <div class="modal-body">
                        <p>
                            <b>Categoria</b>
                        </p>
                        <select class="form-control show-tick" id="categoria" ng-model="produto.productCategory.id" required data-error="Selecione uma Categoria" tabindex="1" data-live-search="true" >
                            <option value="{{categoria.id}}" ng-repeat="categoria in categorias">{{categoria.name}}</option>
                        </select>

                    </div>

                    <div class="modal-body">
                        <input type="text" placeholder="Descrição do Produto" rows="3" class="form-control" name="description" ng-model="produto.description" required/>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success waves-effect">
                            <i class="material-icons">save</i>
                        </button>
                        <button type="button" class="btn btn-danger waves-effect" ng-click="deleteProduto(produto)" ng-show="produto.id" data-dismiss="modal">
                            <i class="material-icons">delete</i>
                        </button>
                        <button type="button" class="btn btn-orange waves-effect" data-dismiss="modal">
                            <i class="material-icons">cancel</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>



</div>